body{
    margin: 0;
    padding: 0;
}
#game-area{
    width: 100vw;
    height: 100vh;
    background-color: rgb(13, 115, 25);
    position: relative;
    overflow: hidden;
}

#player{
position: absolute;
}
#player2{
position: absolute;
}
#player3{
position: absolute;
}
#player4{
position: absolute;
 }